<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Patient Form
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveForm()">
        Save
        <ion-icon slot="end" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <form (submit)="saveForm()">

      <ng-container *ngFor="let section of sections">
        <ng-container *ngIf="section.enabled==true">
          <ng-container *ngTemplateOutlet="sectionTmpl; context:{section:section}"></ng-container>
        </ng-container>
      </ng-container>

      <ng-template #sectionTmpl let-section="section">
        <div class="section" padding-bottom>
          <h3>{{section.title}}</h3>
          <ng-container *ngFor="let question of section.questions">
            <ng-container *ngTemplateOutlet="questionTmpl; context:{question:question}"></ng-container>
            </ng-container>
        </div>
      </ng-template>



      <ng-template #questionTmpl let-question="question">
        <div class="question" margin>

          <ion-label>
              {{question.description}}
              <ion-note color="danger" *ngIf="question.required==true">*</ion-note>
          </ion-label>

          <ng-container *ngIf="question.inputType=='radio'">
            <ion-radio-group [name]="question.name">
              <div class="question-options-container">
                <ion-item class="question-options" *ngFor="let option of question.options">
                  <ion-label>{{option.text}}</ion-label>
                  <ion-radio [name]="question.name" slot="start" [value]="option.value" [checked]="option.selected" (ionSelect)="inputChanged($event,question,true)"></ion-radio>
                </ion-item>
              </div>
            </ion-radio-group>
          </ng-container>

          <ng-container *ngIf="question.inputType=='checkbox'">
            <div class="question-options-container">
              <ion-item class="question-options" *ngFor="let option of question.options">
                <ion-label>{{option.text}}</ion-label>
                <ion-checkbox [name]="question.name" slot="start" [value]="option.value" [checked]="option.selected" (ionChange)="inputChanged($event,question,false)"></ion-checkbox>
              </ion-item>
            </div>
          </ng-container>

          <ng-container *ngFor="let section of question.subSections">
            <ng-container *ngIf="section.enabled==true">
              <ng-container *ngTemplateOutlet="sectionTmpl; context:{section:section}"></ng-container>
            </ng-container>
          </ng-container>

        </div>

      </ng-template>

    </form>

</ion-content>
