<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="fileInput.click()">
        Upload Folder
        <ion-icon slot="end" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Image Grid
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid-container" #container>
    <div class="image-container" *ngFor="let column of displayGrid" [style.width]="colWidth">
      <img *ngFor="let info of column" [src]="info.safeSrc" class="image">
    </div>
  </div>
</ion-content>

<input #fileInput multiple="true" type="file" directory="true" webkitdirectory="true" accept="image/*,.gif" (change)="uploadFolder(fileInput)">
